* {
    padding: 0;
    border: 0;
}

#chess-board {
    float: left;
    padding: 1px;
    background-color: #383931;
    border: 5px solid black;

}

ul li#king {
    background-color: black;
    color: white;
}

ul li#rook {
    background-color: #383931;
    color: white;
}

ul li#pawn {
    background-color: #575744;
    color: white;
}

ul li#bishop {
    background-color: #88886A;
    color: white;
}

.tile {
    width: 64px;
    height: 64px;
    float: left;
}

.black {
    background-color: #191919;
    color: white;
}

.white {
    background-color: #E8EBEC;
    color: black;

}

#player {
    width: 40px;
    height: 40px;
    background-color: green;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    top: 39px;
    left: 39px;
}

span.icon {
    display: block;
    padding-top: 6px;
    padding-left: 9px;
    color: white;
    font-size: 150%;
}

#instruction-area {
    font-family: Arial;
    position: absolute;
    margin-left: 550px;
    width: 50%;
    margin-top: 0px;
}

.hover {
    -webkit-box-shadow: inset 0px 0px 5px 5px rgba(50, 150, 25, .5);
    box-shadow: inset 0px 0px 5px 5px rgba(50, 150, 25, .5);
}

.legal {
    -webkit-box-shadow: inset 0px 0px 0px 5px #f00;
    box-shadow: inset 0px 0px 0px 5px #f00;
}

.legal.white {
    background-color: #D2AEAE;
}

.legal.black {
    background-color: #7E1818;
}

.legal:hover {
    -webkit-box-shadow: 0px 0px 25px 10px #ffa;
    box-shadow: 0px 0px 25px 10px #ffa;
    background-color: chartreuse;
}

.slow-move {
    -webkit-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
    -moz-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
    -ms-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
    -o-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
    transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
}


/* Floating help button  */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 22px;
}

.info-btn {
    background-color: darkseagreen;
    bottom: 105px;
}

.hide {
    display: none;
}

#command-area {
    margin-left: 550px;
}

.command-button {
    cursor: pointer;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}